html {
    font-size: 6px;
    scroll-behavior: smooth;
}

:root {
    --after-content: ;
    --opacity--before-after: 0;
    --backgroundcolor: rgb(24, 32, 40);
    --textshadowcolor: #1976c290;
    --read-text-in-out-before: 0;
    --read-text-in-out-after: 0;
}


@font-face {
    font-family: 'Amiri';
    src: url('./assets/fonts/Amiri/Amiri-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Amiri';
    src: url('./assets/fonts/Amiri/Amiri-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lateef';
    src: url('./assets/fonts/Lateef/Lateef-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lateef';
    src: url('./assets/fonts/Lateef/Lateef-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('./assets/fonts/Tajawal/Tajawal-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('./assets/fonts/Tajawal/Tajawal-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('./assets/fonts/Tajawal/Tajawal-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cairo';
    src: url('./assets/fonts/Cairo/static/Cairo-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cairo';
    src: url('./assets/fonts/Cairo/static/Cairo-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cairo';
    src: url('./assets/fonts/Cairo/static/Cairo-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: rgb(24, 32, 40);
    position: relative;
    color: aliceblue;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        transition: all 0.3s ease;

}

.intro {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 18, 22, 0.905);
    z-index: 50;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-style: normal;
    /* display: none; */
}

.intro input {
    z-index: 1;
    font-family: 'Tajawal', 'Cairo', sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.3s ease;
}

.intro button {
    font-family: 'Cairo', 'Tajawal', sans-serif;
    font-weight: 700;
    font-style: normal;
    z-index: 1;
    transition: all 0.3s ease;
}

.background-intro {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#clickinput {
    position: relative;
    width: 20rem;
    height: 7.5rem;
    font-size: 4rem;
    text-align: center;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 1.5rem 0 rgba(0, 170, 255, 0.507) inset, 0 0 0 0.2rem whitesmoke;
    background-color: rgb(2, 20, 36);
    color: aliceblue;
    outline: none;
    cursor: pointer;
    animation: input 1s linear alternate infinite;
}

#clickinput:hover {
    outline: 3px solid goldenrod;
}

#clickinput:focus {
    outline: 5px solid goldenrod;
}

.intro input:not(#clickinput) {
    position: relative;
    width: 100%;
    height: 10rem;
    font-size: 5rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 1.5rem 0 rgba(0, 170, 255, 0.507) inset, 0 0 0 0.2rem whitesmoke;
    background-color: rgb(2, 20, 36);
    color: aliceblue;
    outline: none;
    padding: 0 2rem 0 0;
    animation: input 1s linear alternate infinite;
}

.empty-after-before {
    position: relative;
    width: 75vw;
    max-width: 60rem;
    height: fit-content;
}

.invalid::before {
    position: absolute;
    content: "";
    border: 2rem solid transparent;
    width: 0;
    height: 0;
    border-bottom-color: white;
    right: 10%;
    opacity: var(--opacity--before-after, 0);
    filter: blur(0.9px);
    top: 90%;
    z-index: 1;
    transition: all 0.3s ease;
}

.invalid::after {
    font-family: 'Cairo', 'Tajawal', serif;
    font-weight: 700;
    content: var(--after-content);
    position: absolute;
    right: 7%;
    color: black;
    font-size: 1.8rem;
    top: 130%;
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    outline: 0.3rem solid red;
    box-shadow: 0 0 0.3rem 0.38rem white, 0 0 1rem red inset;
    z-index: 1;
    opacity: var(--opacity--before-after, 0);
    transition: all 0.3s ease;
}

.intro input:not(#clickinput):hover {
    outline: 3px solid #daa520 !important;
}

.intro input:not(#clickinput):focus {
    outline: 5px solid #daa520 !important;
}

.intro input:not(#clickinput)::selection {
    background-color: rgba(245, 245, 245, 0.851);
    color: rgb(1, 12, 27);
}

/* ---------- Part Two ---------- */

:where(.container) {
    position: relative;
    width: 80vw;
    max-width: 40rem;
    min-width: 20rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: rgba(14, 58, 102, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: button 3s ease-in-out infinite;
    transition-duration: 0.3s;
    transition-property: width, height;
    transition-timing-function: ease-in-out;

}

@keyframes button {

    0%,
    100% {
        box-shadow:
            0 0 0.7rem 0.2rem rgba(2, 105, 174, 0.5),
            0 0 3rem 0.4rem black inset,
            0 0 4rem 0 rgba(0, 0, 0, 0.5) inset;
    }

    50% {
        box-shadow:
            0 0 3rem 0.3rem rgb(2, 105, 174),
            0 0 7rem 0.6rem black inset,
            0 0 7rem 0 rgba(0, 0, 0, 0.5) inset;
    }
}

::selection {
    background-color: transparent;
}

.container :where(#adadprog) {
    position: absolute;
    top: 15%;
    font-size: 5rem;
    max-height: 8rem;
    height: 20%;
    font-family: 'Cairo', 'Tajawal', sans-serif;
    font-weight: 700;
    max-width: 21.5rem;
    width: 55.5%;
    text-align: center;
    border-radius: 2rem;
    border: none;
    background-color: rgb(2, 20, 36);
    box-shadow: 0 0 3.3rem 0 rgba(0, 170, 255, 0.507) inset, 0 0 0 0.2rem whitesmoke;
    color: #dcffe9;

    animation: input 1s linear alternate infinite;
}

.container :where(#adadgoal) {
    position: absolute;
    top: 65%;
    font-size: 4.5rem;
    max-height: 8rem;
    height: 20%;
    font-weight: 700;
    font-family: 'Cairo', 'Tajawal', sans-serif;
    max-width: 21.5rem;
    width: 55.5%;
    text-align: center;
    color: #dcffe9;
    border-radius: 20px;
    background-color: rgb(2, 20, 36);
    box-shadow: 0 0 3.3rem 0 rgba(0, 170, 255, 0.507) inset, 0 0 0 0.2rem whitesmoke;
    border: none;
    animation: input 1s linear alternate infinite;
}

@keyframes input {
    0% {
        box-shadow: 0 0 1.5rem 0 rgba(0, 170, 255, 0.507) inset,
            0 0 0 0.2rem whitesmoke;
    }

    10% {
        box-shadow: 0 0 2rem 0 rgba(0, 170, 255, 0.507) inset,
            0 0 0 0.2rem whitesmoke;
    }

    20% {
        box-shadow: 0 0 2.5rem 0 rgba(0, 170, 255, 0.507) inset,
            0 0 0 0.2rem whitesmoke;
    }

    30% {
        box-shadow: 0 0 3rem 0 rgba(0, 170, 255, 0.507) inset,
            0 0 0 0.2rem whitesmoke;
    }

    40% {
        box-shadow: 0 0 3.5rem 0 rgba(0, 170, 255, 0.507) inset,
            0 0 0 0.2rem whitesmoke;
    }

    50% {
        box-shadow: 0 0 4rem 0 rgba(0, 170, 255, 0.507) inset,
            0 0 0 0.2rem whitesmoke;
    }

    60% {
        box-shadow: 0 0 3.5rem 0 rgba(0, 170, 255, 0.507) inset,
            0 0 0 0.2rem whitesmoke;
    }

    70% {
        box-shadow: 0 0 3rem 0 rgba(0, 170, 255, 0.507) inset,
            0 0 0 0.2rem whitesmoke;
    }

    80% {
        box-shadow: 0 0 2rem 0 rgba(0, 170, 255, 0.507) inset,
            0 0 0 0.2rem whitesmoke;
    }

    90% {
        box-shadow: 0 0 1.5rem 0 rgba(0, 170, 255, 0.507) inset,
            0 0 0 0.2rem whitesmoke;
    }

    100% {
        box-shadow: 0 0 3rem 0 rgba(0, 170, 255, 0.507) inset,
            0 0 0 0.2rem whitesmoke;
    }
}

.read-wrapper {
    width: 99%;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0.5rem 0.6rem;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: aliceblue rgba(240, 248, 255, 0.1);
    z-index: 1;
    text-align: center;
}

.read-wrapper::-webkit-scrollbar {
    height: 10px;
}

.read-wrapper::-webkit-scrollbar-track {
    background: rgba(240, 248, 255, 0.1);
}

.read-wrapper::-webkit-scrollbar-thumb {
    background: aliceblue;
}

.read-wrapper::-webkit-scrollbar-thumb:hover {
    background: rgba(240, 248, 255, 0.6);
}

.read-text {
    display: inline-block;
    white-space: nowrap;
    overflow-y: hidden;
    font-size: 6.5rem;
    font-weight: 700;
    font-family: 'Lateef', 'Amiri', sans-serif;
    color: aliceblue;
    background: transparent;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 0 4px var(--textshadowcolor, black);
    transition: outline 0.3s ease-in-out;
    padding: 0 1rem;
    border-radius: 6px;
    outline: none;
}

.read-text:focus {
    outline: 0.5rem double rgba(218, 165, 32, 0.5);
}

.read-text:hover {
    outline: 0.5rem double goldenrod;
}

.read-text::selection {
    background-color: rgba(245, 245, 245, 0.851);
    color: rgb(1, 12, 27);
}

.read-text-in-out {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    outline: none;
}

.container .read-text-in-out::before,
.container .read-text-in-out::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 3rem;
    z-index: 2;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.container .read-text-in-out::before {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.95), transparent);
    opacity: var(--read-text-in-out-before, 0);
}

.container .read-text-in-out::after {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.95), transparent);
    opacity: var(--read-text-in-out-after, 0);
}


.background-click {
    position: absolute;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.background-click:active {
    background: radial-gradient(circle at center, rgba(129, 129, 129, 0.1) 0%, transparent 50%);
}

.container #adadgoaldone {
    display: none !important;
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4.5rem;
    display: none;
}

#reset img {
    width: 55%;
}

#reset {
    position: absolute;
    top: 15%;
    right: 9%;
    width: 7rem;
    height: 7rem;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 1.5rem 0 rgba(253, 19, 19, 0.684) inset, 0 0 0 0.1rem whitesmoke;
    background-color: rgb(36, 2, 2);
    color: aliceblue;
    outline: none;
    cursor: pointer;
    z-index: 10;
    animation: reset 1.5s linear alternate infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

#reset:hover {
    outline: 0.5rem goldenrod double;
}

#reset:focus {
    outline: 0.5rem rgba(218, 165, 32, 0.5) double;
}

.reset-active {
    transform: scale(1.1);
    animation: reset-active 1.5s ease-in-out alternate infinite !important;
}

.reset-active-2 {
    transform: scale(1.5);
    animation: reset-active-2 1.5s ease-in-out alternate infinite !important;
}

@keyframes reset {
    0%,
    100% {
        box-shadow:
            0 0 0.5rem 0.1rem rgb(255, 85, 85),
            0 0 0.8rem 0.2rem rgba(253, 19, 19, 0.684) inset,
            0 0 0.2rem 0 rgba(0, 0, 0, 0.5) inset;
    }

    50% {
        box-shadow:
            0 0 0.8rem 0.1rem rgb(253, 57, 57),
            0 0 1.5rem 0.3rem rgba(253, 19, 19, 0.684) inset,
            0 0 3rem 0 rgba(0, 0, 0, 0.5) inset;
    }
}

@keyframes reset-active {

    0%,
    100% {
        box-shadow:
            0 0 0.7rem 0.1rem rgb(168, 54, 54),
            0 0 1rem 0.5rem rgba(217, 16, 16, 0.684) inset,
            0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.5) inset,
            0 0 0 1.3rem var(--backgroundcolor),
            0 0 0 2rem rgb(104, 8, 8),
            0 0 0 2.7rem var(--backgroundcolor),
            0 0 0 3.2rem rgba(53, 36, 36, 0.8);
    }

    50% {
        box-shadow:
            0 0 1rem 0.5rem rgb(168, 54, 54),
            0 0 2rem 0.8rem rgba(217, 16, 16, 0.684) inset,
            0 0 3rem 0.3rem rgba(0, 0, 0, 0.5) inset,
            0 0 0 1.3rem var(--backgroundcolor),
            0 0 0 2rem rgb(108, 4, 4),
            0 0 0 2.7rem var(--backgroundcolor),
            0 0 0 3.7rem rgba(53, 36, 36, 0.8);
    }
}

@keyframes reset-active-2 {

    0%,
    100% {
        box-shadow:
            0 0 0.7rem 0.1rem rgb(168, 54, 54),
            0 0 1rem 0.5rem rgba(217, 16, 16, 0.684) inset,
            0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.5) inset,
            0 0 0 1.3rem var(--backgroundcolor),
            0 0 0 2rem rgb(104, 8, 8),
            0 0 0 2.7rem var(--backgroundcolor),
            0 0 0 3.2rem rgb(104, 8, 8);
    }

    50% {
        box-shadow:
            0 0 1rem 0.5rem rgb(168, 54, 54),
            0 0 2rem 0.8rem rgba(217, 16, 16, 0.684) inset,
            0 0 3rem 0.3rem rgba(0, 0, 0, 0.5) inset,
            0 0 0 1.3rem var(--backgroundcolor),
            0 0 0 2rem rgb(108, 4, 4),
            0 0 0 2.7rem var(--backgroundcolor),
            0 0 0 3.7rem rgb(108, 4, 4);
    }
}

.adadgoal {
    background: radial-gradient(circle at center, #0f2d20 0%, #061510 100%) !important;
    background-color: #0f2d20;
    border: 0.15rem solid #19c27f;
    box-shadow: none !important;
    animation: done 3s infinite alternate ease-in-out;
}

.adadgoalcon {
    background-color: #0f2d20;
    animation: donecon 3s infinite alternate ease-in-out;
}

@keyframes done {

    0%,
    100% {
        box-shadow:
            0 0 1.5rem 0 #03462b50 inset;
    }

    50% {
        box-shadow:
            0 0 4rem 0 #03452b50 inset;
    }
}

@keyframes donecon {

    0%,
    100% {
        box-shadow:
            0 0 0.7rem 0 #19c27f70,
            0 0 2rem black inset,
            0 0 2rem 0 rgba(0, 0, 0, 0.3) inset;
    }

    50% {
        box-shadow:
            0 0 3rem 0.3rem #19c27f70,
            0 0 5rem 0.4rem black inset,
            0 0 5rem 0 rgba(0, 0, 0, 0.5) inset;
    }
}
